@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styles */
* {
  font-family: "Montserrat" !important;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #333;
  border-radius: 10px;
  padding: 40px;
}

.App-link {
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 3rem;
}

.App-link:hover {
  background-color: #007bff;
  color: #ffffff;
}

.user-info {
  max-width: 30rem;
}

.user-info img {
  max-width: 20rem;
  border-radius: 100%;
}

.user-info p {
  font-size: 1rem;
}

.user-info a {
  font-size: 1rem;
}