@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Custom styles */
* {
  font-family: "Montserrat";
}

html body {
  margin: 0 !important;
  padding: 0 !important;
}

.App {
  background-color: #0f0f0f;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App h1 {
  color: white;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.App input {
  height: 3rem;
  text-indent: 1rem;
  border: none;
  outline: none;
  border-radius: .5rem;
}

.App button {
  height: 3rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  background-color: #575757;
  color: white;
  transition: all .3s;
}

.App button:hover {
  background-color: #7c7575;
}

.App header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
