@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* App Component Styles */
.App {
  background: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.App img {
  max-width: 20rem;
  height: auto;
  border-radius: 1rem;
}

.App input {
  outline: none;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 3rem;
  border-radius: .5rem;
  background-color: #2b2b2b;
  border: none;
  color: white;
  font-size: 1.1rem;
  text-indent: 1rem;
}

.slider__container {
  display: flex;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  margin-bottom: 3rem;
  margin-top: 3rem;
  /* You can adjust the cubic-bezier values */
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controller {
  display: flex;
  gap: 2rem;
}

.controller .left,
.right {
  background-color: #2b2b2b;
  border-radius: 10rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.panel {
  max-width: 30rem;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}